
html, body { height: 100%; background: #7d0909;}

.app-body { height: 600px; width: 340px; background: url("../img/001.png") 50% 50%/auto 100% repeat-x; overflow: hidden; position: relative;}
.app-paper { position: absolute; width: 280px; height: 480px; left: 0; bottom: 0; background: url("../img/002.png") 0 0/cover; }

.m-btn { position: absolute; right: 10px; top: 10px; width: 20px; height: 20px; border: 2px solid white; border-radius: 50%;}
.m-btn { background: black url("../img/switch.png") 50% 50%/100% 100% no-repeat; opacity: 0.5; z-index: 99;}

.ele { position: absolute; }
.ele img { width: 100%;}
.snow { position: absolute; background: url("../img/012.png") 50% 50%/100% 100% no-repeat; }

.m-btn { animation: key-btn 600ms ease infinite; }
.app-paper { animation: key-pager 1s ease both; }
.snow-big { animation: key-showloop 10s ease infinite; }
.snow { animation: key-snow 5s ease both; }
.intro { animation: key-intro 2s ease both; }
.down { animation: key-slide 800ms ease both; }
.swing { animation: key-swing 5s ease-in-out infinite; transform-origin: 50% 0; }
.fill { animation: key-fill 1s ease both; }
.deer { animation: key-deer 10s ease 2s infinite both; transform-origin: 50% 120%; }
.bull { animation: key-bull 3s linear 5s infinite both; }
.loop { animation: key-loop 3s linear 5s infinite both; }
.rotate1 { animation: key-rotate 30s linear infinite normal; }
.rotate2 { animation: key-rotate 20s linear infinite reverse; }

@keyframes key-btn {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}
@keyframes key-pager {
    from { left: -200px;}
}
@keyframes key-slide {
    from { top: -200px; opacity: 0; }
}
@keyframes key-swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    70% { transform: rotate(-4deg); }
    100% { transform: rotate(0deg); }
}
@keyframes key-snow {
    0% { opacity: 1; transform: scale(1.2);}
    50% { opacity: 1; transform: scale(1);}
    100% { opacity: 0; transform: scale(1);}
}
@keyframes key-intro {
    from { opacity: 0; transform: scale(1.2);}
}
@keyframes key-rotate {
    to { transform: rotate(360deg);}
}
@keyframes key-deer {
    40% { transform: rotate(0); opacity: 1; }
    49% { transform: rotate(-30deg); opacity: 0; }
    51% { transform: rotate(30deg); opacity: 0; }
    60% { transform: rotate(0); opacity: 1; }
}
@keyframes key-bull {
    50% { transform: translateY(-10px);}
}
@keyframes key-loop {
    50% { opacity: .5;}
}
@keyframes key-showloop {
    20% { opacity: 0; transform: scale(2);}
    30% { opacity: 0; transform: scale(0.5);}
    50% { opacity: 1; transform: scale(1);}
}
@keyframes key-fill {
    from { opacity: 0; transform: scale(.9); }
}
